<main>

  <div class="main-section">
    <h1 class="blue-grey-text text-darken-4">Saved Articles</h1>
    <h4 class="blue-grey-text text-darken-4">Your Saved Articles</h4>
    <br>
    <a id="clear-saved-btn" class="red waves-effect waves-light btn">Clear Articles</a>
  </div>

  <div id="no-saved-articles" class="row">
    <div class="col s12">
      <div class="card teal">
        <div class="card-content white-text">
          <span class="card-title">Uh Oh. Looks like we don't have any saved articles.</span>
        </div>
      </div>
    </div>
  </div>

  <div id="saved-articles">
    <!--
    <div class="row article">
      <div class="col s12">
        <div class="card teal">
          <div class="card-content white-text">
            <a href={{ this.link }}><span class="card-title white-text">{{ this.title }}</span></a>
            <p>{{ this.summary }}</p>
          </div>
          <div class="card-action">
            <a class="delete-saved-btn red waves-effect waves-light btn" data-articleid={{ this._id }}>Delete From
              Saved</a>
            <a class="notes-btn red waves-effect waves-light btn" data-articleid={{ this._id }}>Article Notes</a>
          </div>
        </div>
      </div>
    </div>
    -->
  </div>

  <!-- Modal forms for notes -->
  <div id="notes-modals">
    <!--
    <div id="" class="modal">
      <div class="modal-content">
        <div class="note-card card-panel teal">
          <span class="white-text">I am a very simple card.
            I am good at containing small bits of information.
            I am a very simple card.
            I am good at containing small bits of information.
          </span>
          <a class="btn-floating red btn btn-small waves-effect waves-light remove-note-button" data-noteid="">
            <i class='material-icons'>delete</i>
          </a>
        </div>
        <br>
        <h5>Add a note: </h5>
        <div class="row">
          <form>
            <div class="row">
              <div class="input-field col l6 s12">
                <textarea class="materialize-textarea note-body" id=""></textarea>
              </div>
            </div>
            <a class="add-note-btn btn waves-effect waves-light" data-articleid="" type="submit">Add</a>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a class="modal-action green modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    -->
  </div>

</main>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="../js/saved.js"></script>